---
interface Props {
  id: string;
  name: string;
  img: string;
  success: boolean;
  flightNumber: number;
  details: string;
}

const { success, id, name, img, flightNumber, details } = Astro.props;
---

<a href="">
  <picture class="flex justify-center p-4">
    <img src={img} alt={`Path for launch id ${id}`} class="mb-5 rounded-lg" />
  </picture>

  <header class="p-4 flex-row">
    <span class="text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"> TODO</span>

    <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
      Flight #{flightNumber}
    </h2>
    <p class="mb-4 font-light text-gray-400">
      {details.length > 100 ? details.slice(0, 100) + "..." : details}
    </p>
  </header>
</a>
